<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <link rel="shortcut icon" type="image/png" href="{{ "/favicon.png" | prepend: site.baseurl }}">

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
    <script id="CookieDeclaration" src="https://consent.cookiebot.com/d0b4ee40-fca8-4b72-9b45-9ec1b72dda1b/cd.js" type="text/javascript" async></script>
    {%- include footer.html -%}

  </body>

</html>
